.highlight-input-row {
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-top: 20px;
    max-width: 200px;
}

.highlighted-words-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.highlighted-word-item {
    display: flex;
    border: 1px solid rgba(78, 129, 231, 0.6);
    border-radius: 12px;
    padding: 10px;
    align-items: center;
    margin: 5px 0;
}

.highlighted-word {
    margin-right: 5px;
    font-weight: bold;
}

.remove-word-button {
    padding: 0;
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;

    :focus{
        color: #e8e8e8;
    }
}

.add-word-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1185ff;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
}

.add-word-button:hover {
    background-color: #0a6ebc;
}